body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: transparent;
}

.elo-card {
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    height: 190px;
    width: 340px;
    box-shadow: 10px 5px 5px red;
}

.transparent {
    background: transparent;
}

.white {
    background: white;
}

.rank {
    color: green;
}

.player-name {
    font-weight: bold;
    font-size: 36px;
}

.preset-name {
    font-size: 28px;
    color: gray;
}


.elo {
    font-size: 56px;
    font-weight: bold;
}

.last-total {
    font-size: 28px;
    color: dimgray;
}

.positive-total {
    color: green;
    font-weight: bold;
}

.negative-total {
    color: darkred;
}
